body {
  background-color: #CCC;
  font-family: sans-serif;
  color: #19196E;
  margin: 0;
}
#navbar {
  position: relative;
  width: 30%;
  height: auto;
  float: left;
  padding-left: 30px;
  a {
    display: block;
    padding: 10px 0;
  }
}
.cardoutline {
  background-color: #AAA;
  margin-top: 20px;
  display: block;
  float: left;
  width: 350px;
  height: 500px;
  border: 2px solid #19196E;
  border-radius: 30px;
  h3 {
    margin: 7px 0 5px 30px;
  }
  div {
    display: block;
    margin: 7px auto;
    width: 338px;
    height: 200px;
    border-radius: 10px;
    overflow: hidden;
    padding: 10px 0 20px 0;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
    img {
      border-radius: 10px;
      max-width: 338px;
      height: auto;
    }
  }
  p {
    font-style: italic;
    width: 310px;
    height: 130px;
    padding: 30px 0 0 18px;
  }
  footer {
    padding-left: 290px;
    span {
      font-size: 22px;
    }
  }
}
input {
  display: block;
  width: 500px;
  margin: 20px auto;
  font-size: 22px;
}
.hidden {
  display: none;
  font-size: 0px;
}
